package web

templ Base() {
	<main id="app">
		@Header()
		{ children... }
	</main>
}

css link() {
	color: var(--color-secondary);
	font-weight: 300;
}

css brand() {
	font-weight: bold;
}

templ Header() {
	<header>
		<nav class={ nav }>
			<a class={ link, brand } href="/">Loggr</a>
			<a class={ link } href="/about">About</a>
			<a class={ link } href="/gardens">Gardens</a>
			<a class={ link } href="/auth/sign-in">Sign in</a>
		</nav>
	</header>
}
